@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Global styling */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // height: auto;
}

body {
  background-repeat: no-repeat;
  background-color: $veryDarkBlue;
  font-family: 'Rubik','Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 300, 400, 500;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** styling for container **/
.container {
  max-width: 375px;
  margin: 50px auto;
}

// Header card for Jeremy Robson
.mainCard {
  border-radius: 15px;
  background-color: $darkBlue;
  margin-bottom: 25px;
}


.reportHeading {
  display: flex;
  background-color: $blue;
  border-radius: 15px;
  padding: 25px 15px;
  justify-content: space-around;
  align-items: center;
}

.reportHeading img {
  border: 5px solid white;
  border-radius: 50%;
  width: 80px;
  margin-right: 15px;
}

.reportHeading .reportName {
  font-size: 18px;
  font-weight: 100;
  margin-right: 15px;
}

.reportHeading .reportP {
  opacity: 0.5;
  font-size: 15px;
}

.reportHeading .nameText {
  font-size: 28px;
  font-weight: 300;
}

// time interval btns
.timeInterval div {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.timeInterval div .btn {
  opacity: 0.3;
}

.timeInterval div .btn:hover {
  cursor: pointer;
  opacity: 1.0;
}

.timeInterval div .active {
  opacity: 1.0;
}

// styling for card background
.cardBackground {
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: -5px;
  background-size: 55px;
  border-radius: 20px 20px 28px 28px;
  padding-top: 35px;
  margin-bottom: 25px;
}

// styling for card
.card {
  border-radius: 15px;
  padding: 25px;
  background-color: $darkBlue;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.card:hover {
    background-color: $desaturatedBlue;
    cursor: pointer;
  }

.timeHrs h4 {
  font-weight: 500;
}

.timeHrs p {
  font-size: 25px;
}

.prevHrs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prevHrs img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 5px 0 20px auto;
  width: 30px;
  cursor: pointer;
}

.prevHrs p {
  opacity: 0.5;
}

// individual card backgrounds styling
.workReport {
  background-color: $lightRed;
  background-image: url('/images/icon-work.svg');
}

.playReport {
  background-color: $softBlue;
  background-image: url('/images/icon-play.svg');
}

.studyReport {
  background-color: $lightPink;
  background-image: url('/images/icon-study.svg');
}

.exerciseReport {
  background-color: $limeGreen;
  background-image: url('/images/icon-exercise.svg');
}

.socialReport {
  background-color: $violet;
  background-image: url('/images/icon-social.svg');
}

.selfCareReport {
  background-color: $softOrange;
  background-image: url('/images/icon-self-care.svg');
}


// footer
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}